.nav-item:first-child a.nav-link {
    padding-left: 0;
}

.jumbotron {
    background-color: #43A047;
    color: #fff;
}

.jumbotron .text-muted {
    color: #ccc !important;
}

.pageheader {
    background-color: #43A047;
    padding: 2rem 0;
    color: #fff;
    margin-bottom: 1.5rem;
}

footer {
    margin-top: 1.5rem;
    padding: 3rem 0 3rem;
    background-color: #eee;
}

.footer-links {
    padding-left: 0;
    padding-bottom: 0.8rem;
    margin-bottom: 1.2rem;
    border-bottom: 1px solid rgba(0,0,0,.125);
}

.footer-links li {
    display: inline-block;
}

.footer-links li+li {
    margin-left: 1rem;
}

.footer-links a {
    color: #666;
}

.license {
    line-height: 1.4;
}

ul.github-commits-list {
    list-style: none;
    padding: 0;
}

ul.github-commits-list li {
    display: table;
    margin-bottom: 0.5rem;
}

ul.github-commits-list li>* {
    display: table-cell;
    vertical-align: middle;
}

span.github-user {
    padding-right: 0.5rem;
}

span.github-user img {
    border-radius: 15px;
}

a.github-commit {
    color: #77c;
}

pre.highlight {
    background-color: #eee;
    padding: 1rem 1rem;
    border: 1px solid #ddd;
}

.btn-clipboard {
    position: absolute;
    top: .5rem;
    right: .5rem;
    z-index: 10;
    display: block;
    padding: .25rem .5rem;
    font-size: 75%;
    color: #818a91;
    cursor: pointer;
    background-color: transparent;
    border-radius: .25rem;
}

.clipboard {
    position: relative;
}

.btn-clipboard:hover {
    color: #fff;
    background-color: #0275d8;
}

.dataTables_length select {
    margin: 0 0.5rem;
}

.breadcrumb {
    background-color: inherit;
    padding: 0 0 0.75rem 0;
    margin-top: -0.5rem;
}

#patterns-filter {
    max-width: 30rem;
}

#patterns-filter-status {
    font-size: 0.9rem;
}
