---
layout: base
---

<div class="pageheader">
  <div class="container">
    <h1>{{page.title}}</h1>
    <p class="lead">{{page.description}}</p>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-9">
      {{content}}
    </div>
    <div class="col-lg-3">
      <h2 class="mt-0">Contributors</h2>
      <ul class="sidebar-list">
      {% for c in site.data.contributors %}
      <li>
	<h4>{{c.name}}</h4>
	<div><small>{{c.role}}</small></div>
	<p>{{c.about}}<p>
      </li>
      {% endfor %}
      </ul>
      <div class="sidebar-list-more">
	To add your name to this list, modify
	the <a href="https://github.com/guildai/tensorflow-patterns/blob/master/_data/contributors.yml">contributors
	list</a> after making a contribution.
      </div>
    </div>
  </div>
</div>
