---
layout: base
---

<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">{{page.title}}</h1>
    <p class="lead text-muted">{{page.description}}</p>
    <p>
      <a href="/patterns/" class="btn btn-primary">View the patterns</a>
      <a href="/contribute/" class="btn btn-secondary">Contribute</a>
    </p>
  </div>
</section>

<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <h2>About</h2>
      {% include content/about.html %}
    </div>
    <div class="col-lg-4">
      <h2>Method</h2>
      {% include content/method.html %}
    </div>
    <div class="col-lg-4">
      <h2>Popular patterns</h2>
      {% include content/popular.html %}
    </div>
  </div>
</div>
