---
layout: base
---

<div class="pageheader">
  <div class="container">

    <div class="d-flex justify-content-start align-items-center">
      <div>
        <h1>{{page.title}}</h1>
      </div>
      <div class="ml-4 pattern-scope">
	<a href="/scopes/#{{page.scope|slugify}}">{{page.scope}}</a>
      </div>
    </div>
    <p class="lead">{{page.summary}}</p>
  </div>
</div>

<div class="container">
  <nav class="breadcrumb">
    <a class="breadcrumb-item" href="/patterns/">All patterns</a>
    <a class="breadcrumb-item active" href="{{page.url}}">{{page.title}}</a>
  </nav>
  {{content}}
</div>
